.widget-icon{
  margin: 0 0 40px;
  a{
    display: inline-block;
    text-decoration: none;
    margin: 0 25px 0;
    color: #fff;
  }
}
.widget-icon h5{
  font-family: 'Roboto', sans-serif;
}

#social{
  .fab{
  display: block;
  margin: 8px 6px;
  cursor: pointer;
  padding: 28px;
  font-size: 46px;
  border-radius: 50%;
  background: #343A40;
  transition: all .2s ease-in-out;
  }
  .fa-facebook-square:hover{
    background-color:#3B5998;
  }
  .fa-skype:hover{
    background-color:#3292a6;
  }
  .fa-linkedin:hover{
    background-color:rgb(14, 136, 201);
  }
  .fa-twitter-square:hover{
    background-color:#598DCA;
  }
}