#faq{
  h5 button{
  text-decoration: none;
  font-size: 1em;
  color:#fff;
  font-family: 'Noto Serif', serif;
  }

  .card .card-header {
  border:rgb(3, 3, 3);
  background-color: rgb(126, 128, 128);
  }

  .card-body, .card-header{
    background: #333;
  }
}