.specification-tbl{
   th, td{
       margin-top: 1em;
       border: 1px solid white;
       padding: 1em;
    }
  }
#testimonials{
  background-color: white;
}
.headshot{
  margin-bottom: 2em;
}
.testimonial-text{
  padding-left: 4em;
  padding-right: 4em;
}
.specification-details{
  padding-top: 2em;
}
.title{
  margin-top: 1em;
}
.product{
  margin-bottom: 1em;
}
.order{
  margin: 1em;
}

.specification-text{
  padding: 1em 3em 1em 4em;
}